body {
  margin: 0;
  overflow: hidden;
}

.gameStateText {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 300px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  opacity: 1;
  z-index: 1;
  transition: opacity 1s;
}

.gameStateTextFade {
  opacity: 0;
}

.sketchContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blurEffect {
  filter: blur(15px);
}

.sketchContainer > canvas {
  border: 5px solid black;
}
