@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');

body {
  margin: 0;
  overflow: hidden;
}

.gameStateText {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 300px);
  width: 100%;
  font-size: 52px;
  font-family: 'Roboto Condensed';
  text-align: center;
  opacity: 1;
  z-index: 1;
  transition: opacity 1s;
}

.gameStateTextFade {
  opacity: 0;
}

.scoreContainer {
  pointer-events: none;
  position: absolute;
  display: flex;
  margin: 0 auto;
  z-index: 1;
  justify-content: space-between;
  font-size: 50px;
  line-height: 50px;
  font-family: 'Roboto Condensed';
  padding: 8px 12px;
  box-sizing: border-box;
}

.scoreReversed {
  flex-direction: row-reverse;
}

.sketchContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blurEffect {
  filter: blur(15px);
}

.sketchContainer > canvas {
  border: 5px solid black;
}
